
<div class="card">
    <div class="card-body">
<div class="container">
    <div class="submit-form">
        <div  *ngIf="!isMotorAdded">
            Descripción: <input type="text" name="descripcion_motor" id="descripcion_motor" class="form-control" [(ngModel)]="motor.descripcion_motor">
            Potencia: <input type="text" name="potencia" id="potencia" class="form-control"  [(ngModel)]="motor.potencia">
            Valor Importación: <input type="text" name="valor_importacion" id="valor_importacion" class="form-control" [(ngModel)]="motor.valor_importacion">
            <button class="btn btn-success" (click)="addMotor()">
                Agregar Motor
            </button>
        </div>
    </div>
</div> 
</div>
</div>

