<!-- 
<div mat-dialog-content>
    <div class="modal fade" id="Eliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Está seguro que desea eliminar el registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="submit-form">
        <div  *ngIf="!isMotorAdded">
            Descripción: <input type="text" name="descripcion_motor" id="descripcion_motor" class="form-control" [(ngModel)]="motor.descripcion_motor">
            Potencia: <input type="text" name="potencia" id="potencia" class="form-control"  [(ngModel)]="motor.potencia">
            Valor Importación: <input type="text" name="valor_importacion" id="valor_importacion" class="form-control" [(ngModel)]="motor.valor_importacion">
            <button class="btn btn-success" (click)="addMotor()">
                Agregar Motor
            </button>
        </div>
    </div>
</div> 